//=================================
// BASE - FORM ELEMENTS
//=================================

//---------------------------------
// Default Styles
//---------------------------------

input,
textarea,
select {
  outline: none;
  border-radius: 0;
  border: 1px solid get-color(gray, dark);
  padding: 5px 10px;
  margin: 0;
  width: 100%;
  font-size: rem(13px);
}

// Unique styles that just apply to input/textarea/label
input,
textarea,
label {
  color: get-color(gray, light);
}

// Add the correct appearance, but also adjust the height to fit with our input fields.
// This only matters for apple devices (height)
select {
  background: get-color(white);
  height: 30px;
  padding: 5px 10px;
}

// Make sure we are not adding the select height to multi select
select[multiple] {
  height: auto;
}

// Styles relevant to checkboxes
input[type="checkbox"] {
  vertical-align: bottom;
}

// Styles relevant to radio buttons
input[type="radio"] {
  vertical-align: text-bottom;
}

// Label specific styling
label {
  font-weight: get-font-weight;
}

// Focus specific styling
input:focus,
textarea:focus {
  outline: none;
  border-color: get-color(gray, light);
  color: get-color(black);
}

// Submit input specific styling
input[type="submit"] {
  @extend button;
}

//---------------------------------
// Placeholders
//---------------------------------

input,
textarea {
  @include placeholder() {
    color: get-color(black);
  }
}

input:focus,
textarea:focus {
  @include placeholder() {
    color: get-color(teal);
  }
}


//---------------------------------
// Browser Specific
//---------------------------------

// Remove extra spacing that Firefox adds to buttons
button::-moz-focus-inner {
  padding: 0;
  border: 0
}

// Remove spinner from type="number"
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

// Reset all styling for input and textarea, handy for mobile devices
input[type="text"],
input[type="time"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}
