//=================================
// OBJECTS - WRAPPERS
//=================================
.o-wrapper {
  width: 100%;
  margin: 0 auto;
  @include gutter(large);
}

.o-wrapper--standard {
  @extend .o-wrapper;
  max-width: $wrapper;
}

.o-wrapper--small {
  @extend .o-wrapper;
  max-width: $wrapper-small;
}

.o-wrapper--medium {
  @extend .o-wrapper;
  max-width: $wrapper-large;
}

.o-wrapper--large {
  @extend .o-wrapper;
  max-width: $wrapper-large;
}

.ui-list {
  list-style: none;
  padding: 0;
  margin: 0;
}