//=================================
// SASSQWATCH SETUP
//=================================
$bp-count: length($breakpoints);
$bp-order: '';
$i: 0;

// Make sure that this class is on the html element
.js-sassqwatch {
  head {
    @each $name, $value in $breakpoints {
      // attach a media query for this breakpoint to expose the name
      @include mq($name) {
        font-family: $name !important;
      }

      // while we're at it append the order string
      // which will be used on the "title" element
      $i: $i + 1;
      $bp-order: $bp-order + $name;
      @if $i != $bp-count {
        $bp-order: $bp-order + ', ';
      }
    }
  }

  title {
    font-family: $bp-order !important;
  }
}